%h1 Raids
%table
  %tr
    %th Name
    %th Phases
  - @raids.each do |raid|
    %tr
      %td= link_to "#{raid.display}", guild_raid_path(@guild, raid)
      - raid.phases.each do |phase|
        %td= phase.name
        %td= phase.start
= button_to 'New Raid (The Pit)', new_guild_raid_path, method: :get, params: { type: :pit }
= button_to 'New Raid (Tank Takedown)', new_guild_raid_path, method: :get, params: { type: :tank }
= button_to 'New Territory Battle (Hoth)', new_guild_raid_path, method: :get, params: { type: :hoth }
= link_to 'Back to guilds', guilds_path
