%h1 Guilds
%table
  %tr
    %th Server Name
    %th Admin
    %th Announcement Channel
  - @guilds.each do |guild|
    %tr
      %td= guild.name
      %td= guild.has_access?(current_user)
      %td= guild.announcement_channel
      %td= link_to 'Raids', guild_raids_path(guild)
      %td= link_to 'Edit', edit_guild_path(guild)
